.content-change {
    display: flex;

    position: absolute;
    margin-top: auto;
    bottom: 70px;
    left: 20px;
}

.file-content {
    padding-right: 25px;
    width: fit-content;
}

.card:hover .card-body {
    background: #D9D9D9;
    transition: transform 0.6s ease;
}


/* berita */
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;



    width: 100vw;
}
.card-news{
    max-width: 80%;
    height: auto;
    background: whitesmoke;

    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

    display: flex;
    flex-direction: column;
    border-radius: 9px;

    padding: 20px;
}
/* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
.card-news .card-news-image{
    width: 100%;
    text-align: center;
    padding: 0 0 20px 0;
}

.card-news-title .display-1{
    font-size: 3.5rem;
}

.card-news-description{
    height: fit-content;
    width: 100%;
}

.card-news-description h4{
    max-width: 100%;
    font-weight: 300;
}



