.all-content {
    max-width: 100vw;
}

.container-gallery-main {
    padding: 50px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.row-gallery img {
    width: 30%;
}

.img-thumbnail {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .row-gallery {
        flex-direction: column;
        align-items: center;
    }

    .row-gallery img {
        width: 75%;
    }
}


.down-button-wrapper {
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.down-button-wrapper.active {
    opacity: 1;
}


.up-button,
.down-button {
    font-size: 20px;
    background-color: #3aa856;
    color: white;
    width: 45px;
    height: 45px;
    opacity: 0.75;
    border: 1px solid #3aa856;
    border-radius: 8px;
    cursor: pointer;
    animation: bounce_513 1s infinite;
}


.up-button:focus,
.down-button:focus {
    border: none;
    outline: none;
}

@keyframes bounce_513 {

    0%,
    100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}


.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
}

.button,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 30px;
    stroke: #fff;
}

.button:hover {
    background: #34974d;
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.button:active .button__icon {
    background-color: #2e8644;
}

.button:active {
    border: 1px solid #2e8644;
}

.button:focus {
    outline: none;
}
